.red{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;


}
.orange1 , .orange2{
    border: 15px ;
    display: flex;
}
.blue{
    border: 15px ;
    display: flex;
    justify-content: space-around;
}
.orange1{
    display: flex;
    align-items: flex-start;
}
.orange2{
    display: flex;
    align-items: flex-end;
}
.blue div{
    height: 50px;
    width: 70px;

}
div{
    margin-top: 5px;
    margin-left :5px;
    color: white;
}